<%= link_to "画像一覧", items_path %>
<h1>タグ一覧</h1>

<%= form_tag tags_path ,method: :get do %>
	<%= text_field_tag "q",params[:q] %>
	<%= submit_tag "検索"%>
<% end %>
  <hr>

<% @tags.each do |tag| %>
 	<%= tag.id %>
	<%= link_to tag.name, items_path(:tag => tag.name) %>
	
  <hr>
<% end %>

<br />

