
<% javascript_include_tag 'item/items.js.coffee' , :defer=>"defer" %>

<div id="drop_zone"> 
<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "タイトル" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "お名前" %><br />
    <%= f.text_field :author %>
  </div>


	<div class="field">
  	<%= f.label "ファイル選択（直接ドロップ可）" %><br />
  	<%= f.file_field :avatar %>
	</div>

  <div class="field">
  	<%= f.label "タグ" %><br />
  	<%= f.hidden_field :tag_txt%>
		<input class="tag_input">
		<input class="tag_input">
		<input class="tag_input">
		<input class="tag_input">
		<input class="tag_input">
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
