<%= javascript_include_tag 'item/item_upload.js' , :defer=>"defer" %>

<div id="items_list">
	<%= link_to "タグ一覧", tags_path %>
	<%= link_to '新規作成', new_item_path %>
	<h1>一覧</h1>
	<hr>

	<% @items.each do |item| %>
		<p>
			<%= item.id %> : <%= item.name %> by:  <%= item.author %> 
		</p>
		<%= link_to image_tag(item.avatar.url(:thumb)), item %>
		<p>	
			Tags:  <%= raw item.tags.map { |t| link_to t, items_path(:tag => t.name) }.join(', ') %>
		</p>
		<hr>
	<% end %>
</div>

<div id="new_item_form" >
	<h1>新規</h1>
	<%= render 'form' %>
</div>

