<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @item.id %>
  <b>Name:</b>
  <%= @item.name %>
</p>

Tags:  <%= raw @item.tags.map { |t| link_to t, items_path(:tag => t.name) }.join(', ') %>
<%= form_for(@item) do |f| %>
	<%= f.text_field :tag_txt %>
	<%= f.submit "add_tag" %>
<% end %>

<%= image_tag @item.avatar.url(:large ) %>


<p>
  <b>Author:</b>
  <%= @item.author %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
